@import url("../../../App.css");

.product-item-image{
    height: 100%;
    width: 100%;
    grid-column: 1 / span 2;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.shop-item-container {
  height: 30vh;
  width: 20vw;
  border-radius: 1vh;
  margin: 1vh;
  border: 2px solid grey;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 60% 10% 30%;
}

.shop-item-title {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  font-family: var(--font);
  margin: 1vh;
}

.shop-item-price {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  font-size: 2vh;
  font-family: var(--font);
  margin: 1vh;
}

.shop-item-button {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  font-family: var(--font);
  height: 4.5vh;
  width: 10vh;
  border: 0.3vh solid black;
  text-align: center;
  border-radius: 0.5ch;
  font-size: 2vh;
  margin: 1.5vh;
}

.h{
    margin: 1vh 1vh 1vh 1vh;
}
.h1{
    margin: 0.5vh 1.2vh 1vh 1vh;
}

.shop-item-button1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    font-family: var(--font);
    height: 3vh;
    width: 3vh;
    border: 0.3vh solid black;
    text-align: center;
    border-radius: 0.5ch;
    font-size: 2vh;
    margin: 2vh 1vh 1vh 0vh;
  }

  .shop-item-button2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    font-family: var(--font);
    height: 3vh;
    width: 3vh;
    border: 0.3vh solid black;
    text-align: center;
    border-radius: 0.5ch;
    font-size: 2vh;
    margin: 2vh 1vh 1vh 4vh;
  }

  .shop-item-button3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    font-family: var(--font);
    height: 3vh;
    width: 3vh;
    border: 0.3vh solid black;
    text-align: center;
    border-radius: 0.5ch;
    font-size: 2vh;
    margin: 2vh 1vh 1vh 8vh;
  }