:root {
  --font: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.card-border {
  height: 70vh;
  width: 22vw;
  border: 0.2vh solid grey;
  border-radius: 1vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 10% 20%;
}

.image-clothes {
  height: 90%;
  width: 80%;
  margin: auto;
  grid-column: 1 / span 2;
  border-radius: 1vh;
}

.title {
  font-size: 4vh;
  font-weight: 600;
  margin: 0 2vh;
  grid-column: 1 / span 2;
  font-family: var(--font);
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh;
}

.title-bold {
  font-family: var(--font);
  margin: 0;
  font-weight: 600;
  font-size: 3.2vh;
}
.title-normal {
  font-family: var(--font);
  margin: 0;
  font-size: 3vh;
  font-weight: 100;
}

.cart-icon {
  height: 3vh;
  width: 3vh;
  margin: 0;
}

.cart-container {
  height: fit-content;
  width: fit-content;
  background-color: grey;
  padding: 1vh;
  border-radius: 1vh;
  margin: auto;
}