:root{
    --font-fam:"Lato", sans-serif;
    --sm-margin:1vh;
    --dar:#575757;
}
.form-container{
height: 70vh;
width: 26vw;
background-color: white;
border: 2px solid grey;
border-radius: 2vh;
margin: 15vh auto 15vh auto;
padding: 2vh 1vh 2vh 1vh;
box-shadow: 0 0 10px gray;
}
.title-text{
    font-family: var(--font-fam);
    margin: var(--sm-margin);
    font-size:2.3vh;
}
.vertical-align{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin-top: 3vh;
}
.label{
    font-family: var(--font-fam);
    color: var(--dar);
    margin:1vh 0;
}
.input-box-text{
    height:4vh;
    width:20vw;
    min-width: fit-content;
    min-width: 15vh;
    font-family: var(--font-fam);
    font-size: 2vh;;
    padding:0.5vh 1.5vh;
    border:0.2vh solid #f1f1f1;
    border-radius: 0.5vh;
    color:var(--dar);
    outline: none;
    transition: all 0.5s

}
.input-box-text:focus{
    border:0.2vh solid var(--dar) ;
    transition: all 0.5s;
}
.form-fields{
    margin:2vh;
    display:grid;
    grid-template-columns: 1fr ;
    
}
.select-box{
    height:5vh;
    width:80%;
    font-family: var(--font-fam);
    font-size: 2vh;
    background-color: white;
    border:0.2vh solid #e1e1e1;
    border-radius: 0.5vh;
    color: var(--dar);
}
.icon-1{
    height: 2vh;
    width: 2vh;
}